@import '../../colors';

.container {
  font-size: 10px;
  line-height: 1.6;
  overflow: auto;
  height: 177px;
  
  .title {
    background-color: $gold;
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    text-decoration: none;
  }
  .description {
    font-style: italic;
  }
}