@import "../../colors";

.container {
    display: grid;
    grid-template-columns: 228px 1fr;
    min-height: 100vh;

    .left {
      border-right: 1px solid black;
      // justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .main {
        width: 536px;
        .header {
            height: 195px;
            background-color: $gold;
            color: $black;
            padding-left: 33px;

            .icon_container {
              position: absolute;
              display: flex;
              flex-direction: row;
              justify-content: end;
              width: 490px;
              padding-top: 20px;
              .edit_icon {
                color: black;
                border: 1px solid black;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 50px;
                font-size: 12px;
              }
            }
        }
        .name {
            margin: 0;
            padding-top: 44px;
            font-size: 32px;
            font-family: "Istok Web", sans-serif;
        }
        .position {
            font-size: 20px;
            margin: 0;
        }
        .telegram {
            display: flex;
            width: 123px;
            height: 25px;
            background-color: $blue;
            justify-content: center;
            align-items: center;
            border-radius: 60px;
            font-size: 10px;
            color: $white;
        }
        .info {
            height: 32px;
            display: flex;
            background-color: $black;
            align-items: center;
            width: 536px;

            div {
                padding-left: 20px;
                width: 388px;
                justify-content: space-between;
                display: flex;
                width: 388px;

                span {
                    font-size: 12px;
                }
            }
        }

        .about {
            div {
                padding: 0 20px 0 20px;
                .aboutHeader {
                    font-size: 14px;
                }
                .aboutText {
                    padding: 0 0 0 15px;
                    font-size: 12px;
                }

            }
        }
    }

    .footer {
        height: 46px;
        position: relative;
        border: 1px solid gray;
        width: $width;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}


.progress {
  margin: 15px;
}